h1 {
	color: red;
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
}
h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 35px;
	color: green
}
#maysaytangsoi {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 35px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
#fb {
	background-color: green;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 35px;
	color: yellow
}
button {
	background-color: darkblue;
	color: gold;
	font-size: 25px;
}
label {
	font-size: 30px;
}
input {
	height: 35px;
	font-size: 25px;
}
legend {
	font-size: 26px;
}
fieldset {
	color: darkblue;
}
select {
	font-size: 25px;
	height: 35px;
}
#title {
	background-color: orange;
	text-align: center;
	font-size: 65px;
	padding: 40px;
	margin: 0px;
}
#social {
	margin-bottom: 10px;
	color: white;
}
table {
	margin-bottom: 10px;
	border-style: solid;
	border-collapse: collapse;
	width: 100%;
}
table td, table th {
	border: 1px solid #ddd;
	padding: 8px;
}
table tr:nth-child(even){background-color: #eee;}
table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #ccc;
	color: black;
}
nav {
	background-color: #08d4c9;
	text-align: center;
	font-size: 40px;
	padding: 20px;
	overflow: hidden;
}
nav a {
	background-color: #08d4c9;
	padding: 20px 40px;
	color: blue;
	text-decoration: none;
	display: block;
}
nav a.left_menu{
	float: left;
}
nav a.right_menu{
	float: right;
}
nav a:hover {
	background-color: yellow;
	color: black;
}
p {
	font-size: 26px;
	font-family: Arial, Helvetica, sans-serif;
}
ul {
	font-size: 26px;
	font-family: Arial, Helvetica, sans-serif;
}
li {
	font-size: 26px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}
ol {
	margin-left: 35px;
	font-size: 30px;
}
table {
	font-size: 35px;
}
footer {
	background-color: green;
	padding: 2px;
}
footer p {
	color: yellow;
	font-family: Arial, Helvetica, sans-serif;
}
footer a {
	color: yellow;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
}
#machines_link:link, #machines_link:visited {
	background-color: #f44336;
	color: #fff;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
#machines_link:hover, #machines_link:active {
  background-color: red;
}
#sub_machines_link:link, #sub_machines_link:visited {
	background-color: blue;
	color: #fff;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
#sub_machines_link:hover, #sub_machines_link:active {
  background-color: green;
}
#flex_container {
	display: flex;
	flex-wrap: nowrap;
}
#left_side {
	flex: 30%;
	padding: 10px 20px;
}
#right_side {
	flex: 70%;
	background-color: skyblue;
	padding: 10px 20px;
}
.machines_item {
	text-align: center;
	flex: 33%;
}
.machines_img {
	width: 90%;
}
.machines_title {
	font-size: 125%;
	font-weight: bold;
	padding: 10px 10px 5px 10px;
}
.machines_description {
	margin: 0px 10px 20px 10px;
	font-size: 20px;
	font-family: arial,sans-serif;
}
#machines_container {
	display: flex;
	flex-wrap: wrap;
}
@media (max-width: 800px){
	#left_side {
		flex: 100%;
	}
	#right_side {
		flex: 100%;
	}
	#flex_container {
		flex-wrap: wrap;
	}
	.machines_item {
		flex: 50%;
	}
}